# IntelliJ IDEA
.idea/

# Maven
target/
mvnw
mvnw.cmd
.mvn/
*.log
*maven-wrapper.jar

# Spring Boot
spring-boot-starter-*/target/
spring-boot-starter-*/build/
!spring-boot-starter-*/target/*.jar
!spring-boot-starter-*/target/*/
!spring-boot-starter-*/target/classes/
!spring-boot-starter-*/target/test-classes/

# General
.DS_Store
*.class
*.iml
*.ipr
*.iws
*.bak
*.tmp
*.swp
*~