<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
<h1>Список товаров</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Товар</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="product : ${products}">
        <td data-th-text="${product.id}"></td>
        <td>
            <a data-th-href="@{/catalog/products/{productId}(productId=${product.id})}"
               data-th-text="${product.title}"></a>
        </td>
    </tr>
    </tbody>
</table>
<a data-th-href="@{/catalog/products/create}">Создать товар</a>
</body>
</html>